*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
header {
  background-image: url(../img/img/planches.jpg);
}
h1 {
  font-size: 48px;
  font-weight: bold;
  color: #121010;
  text-transform: uppercase;
}
h1 span {
  /* pour la couleur de soir */
  color: #000;
}

/* pour la ligne sous le texte */
sup {
  margin: 5px auto 0;
   text-decoration: underline red; 

}

body {
  font-family: "Arial", sans-serif;
  background-image: url(../img/img/motif.jpg);
}
/* Navigation */
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: -60px; /* margin-top avec une valeur negative pour remonter la barre de navigation */
}

.navigation {
  list-style: none;
  display: flex;
}
/* .logo-triangle {
  position: relative;
  display: inline-block;
} */
.logo {
  max-width: 150px; /* Ajuste la taille du logo */
  position: relative;
  margin-left: 50%;
  /* z-index: 1; */
}
/* pour mettre le triangle */
 .logo-triangle::before {
  content: "";
  position: absolute;
  margin-left: 720px;
  left: 30px;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 0, 102, 0.7);
  clip-path: polygon(
    100% 10%,
    0% 10%,
    100% 100%
  ); /* pour la couleur rose transparent */
  /* z-index: -1; /* pour mettre le triangle à l'arriére */
} 

/* Navigation */
.navigation {
  list-style: none;
  display: flex;
  position: absolute;
  right: 20px; /* Positionne la liste des liens à droite */
}
.navigation li {
  margin-left: 20px;
}
.navigation a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
}
/* la section our_story */
.Our_story {
  display: flex;
  flex-direction: column;
  /* align-items: center;  centrer le H2 et le contenu */
}

/* pour le h2 */
section.Our_story  h2 {
  /* margin-bottom: 20px; */
  margin-left: 45px;
}

.block1 {
  display: flex; /* pour aligner les éléments côte à côte  */
  align-items: center; /* pour center l'image et le texte verticalement */
  justify-content: space-between; /* pour ajouter de l'espace entre le texte et l'image */
}
/* Pour le paragraphe de la section Our_story */
.Our_story p {
  flex: 1; /* pour que le texte prenne l'espace disponible */
  max-width: 20%;
  /* margin-right: 20px; ajouter la marge droite pour ajouter de l'espace entre le p et l'image */
  margin-left: 30px; /* ajouter la marge gauche pour ajouter de l'espace du côter gauche */
}
.Our_story img {
  max-width: 80%; /* limiter la taille de l'image */
  height: auto; /* pour garder la hauteur correcte de l'image */
  margin-top: -29px;
}

/* la section fair */
.Fair h2 {
  top: 10%;
  position: absolute;
  right: 50px;
  text-align: right;
}
.Fair {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.Fair .savon {
  max-width: 500px;
}
.Para_Img img {
  width: 200px;
}
.Fair .Para_Img {
  flex-direction: column;
}
.Fair p {
  flex: 1;
  margin-left: 30px;
  width: 70%;
  height: 70%;
}
/* la partie drink */
 .Drink{
  display: flex;
  align-items: center;
  justify-content: space-between; 

}
.Drink p {
  flex: 1;
  margin-left: 30px;
  width: 70%;
  height: 70%;
}
.moule{
  /* display: flex; */
   /* flex-direction: column;
   width: 200px; */
}
.oeuf{
  width: 100%;
}
/* la partie footer */
footer{
   margin-left: 50px;
}

div.Icone {
   
  display: flex;
    /* align-content: stretch; */
    justify-content: flex-end;

}
div i {
  padding: 20px 10px;
}
.titre{
 margin-left: 20px;
 text-decoration: 5px underline red;
}





